In [13]:
import json
import pandas as pd
import seaborn as sb
import matplotlib
import numpy as np
from pandas.io.json import json_normalize

In [24]:
with open('worldcup.teams.json') as f:
    d = json.load(f)
    
teams_df = json_normalize(d['teams'])
teams_df = teams_df[['code','continent','name']]
teams_df.head()

  code continent     name
0  EGY    Africa    Egypt
1  MAR    Africa  Morocco
2  TUN    Africa  Tunisia
3  SEN    Africa  Senegal
4  NGA    Africa  Nigeria

In [28]:
teams = teams_df['name'].unique()
teams

array(['Egypt', 'Morocco', 'Tunisia', 'Senegal', 'Nigeria', 'Japan',
       'South Korea', 'Costa Rica', 'Panama', 'Belgium', 'Germany',
       'Spain', 'France', 'Portugal', 'Denmark', 'Poland', 'Sweden',
       'Switzerland', 'Croatia', 'Serbia', 'Russia', 'Iceland', 'England',
       'Iran', 'Saudi Arabia', 'Mexico', 'Australia', 'Argentina',
       'Brazil', 'Uruguay', 'Colombia', 'Peru'], dtype=object)

In [48]:
with open('worldcup.json') as f:
    d = json.load(f)
    
games_df = json_normalize(data = d['rounds'], record_path = 'matches')
games_df

,city,date,goals1,goals2,group,knockout,num,score1,score1et,score1i,score1p,score2,score2et,score2i,score2p,stadium,team1,team2,time,timezone
0,Moscow,2018-06-14,"[{'name': 'Gazinsky', 'minute': 12, 'score1': ...",[],Group A,NaN,1,5.0,NaN,2.0,NaN,0.0,NaN,0.0,NaN,"{'key': 'luzhniki', 'name': 'Luzhniki Stadium'}","{'name': 'Russia', 'code': 'RUS'}","{'name': 'Saudi Arabia', 'code': 'KSA'}",18:00,UTC+3
1,Ekaterinburg,2018-06-15,[],"[{'name': 'Giménez', 'minute': 89, 'score1': 0...",Group A,NaN,2,0.0,NaN,0.0,NaN,1.0,NaN,0.0,NaN,"{'key': 'ekaterinburg', 'name': 'Ekaterinburg ...","{'name': 'Egypt', 'code': 'EGY'}","{'name': 'Uruguay', 'code': 'URU'}",17:00,UTC+5
2,Sochi,2018-06-15,"[{'name': 'Ronaldo', 'minute': 4, 'score1': 1,...","[{'name': 'Costa', 'minute': 24, 'score1': 1, ...",Group B,NaN,3,3.0,NaN,2.0,NaN,3.0,NaN,1.0,NaN,"{'key': 'fisht', 'name': 'Fisht Stadium'}","{'name': 'Portugal', 'code': 'POR'}","{'name': 'Spain', 'code': 'ESP'}",21:00,UTC+3
3,Saint Petersburg,2018-06-15,[],"[{'name': 'Bouhaddouz', 'minute': 90, 'offset'...",Group B,NaN,4,0.0,NaN,0.0,NaN,1.0,NaN,0.0,NaN,"{'key': 'saintpetersburg', 'name': 'Saint Pete...","{'name': 'Morocco', 'code': 'MAR'}","{'name': 'Iran', 'code': 'IRN'}",18:00,UTC+3
4,Kazan,2018-06-16,"[{'name': 'Griezmann', 'minute': 58, 'score1':...","[{'name': 'Jedinak', 'minute': 62, 'score1': 1...",Group C,NaN,5,2.0,NaN,0.0,NaN,1.0,NaN,0.0,NaN,"{'key': 'kazan', 'name': 'Kazan Arena'}","{'name': 'France', 'code': 'FRA'}","{'name': 'Australia', 'code': 'AUS'}",13:00,UTC+3
5,Saransk,2018-06-16,[],"[{'name': 'Poulsen', 'minute': 59, 'score1': 0...",Group C,NaN,6,0.0,NaN,0.0,NaN,1.0,NaN,0.0,NaN,"{'key': 'mordovia', 'name': 'Mordovia Arena'}","{'name': 'Peru', 'code': 'PER'}","{'name': 'Denmark', 'code': 'DEN'}",19:00,UTC+3
6,Moscow,2018-06-16,"[{'name': 'Agüero', 'minute': 19, 'score1': 1,...","[{'name': 'Finnbogason', 'minute': 23, 'score1...",Group D,NaN,7,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,"{'key': 'spartak', 'name': 'Spartak Stadium'}","{'name': 'Argentina', 'code': 'ARG'}","{'name': 'Iceland', 'code': 'ISL'}",16:00,UTC+3
7,Kaliningrad,2018-06-16,"[{'name': 'Etebo', 'minute': 32, 'score1': 1, ...",[],Group D,NaN,8,2.0,NaN,1.0,NaN,0.0,NaN,0.0,NaN,"{'key': 'kaliningrad', 'name': 'Kaliningrad St...","{'name': 'Croatia', 'code': 'CRO'}","{'name': 'Nigeria', 'code': 'NGA'}",21:00,UTC+2
8,Rostov-on-Don,2018-06-17,"[{'name': 'Coutinho', 'minute': 20, 'score1': ...","[{'name': 'Zuber', 'minute': 50, 'score1': 1, ...",Group E,NaN,9,1.0,NaN,1.0,NaN,1.0,NaN,0.0,NaN,"{'key': 'rostov', 'name': 'Rostov Arena'}","{'name': 'Brazil', 'code': 'BRA'}","{'name': 'Switzerland', 'code': 'SUI'}",21:00,UTC+3
9,Samara,2018-06-17,[],"[{'name': 'Kolarov', 'minute': 56, 'score1': 0...",Group E,NaN,10,0.0,NaN,0.0,NaN,1.0,NaN,0.0,NaN,"{'key': 'samara', 'name': 'Samara Arena'}","{'name': 'Costa Rica', 'code': 'CRC'}","{'name': 'Serbia', 'code': 'SRB'}",16:00,UTC+4
10,Moscow,2018-06-17,[],"[{'name': 'Lozano', 'minute': 35, 'score1': 0,...",Group F,NaN,11,0.0,NaN,0.0,NaN,1.0,NaN,1.0,NaN,"{'key': 'luzhniki', 'name': 'Luzhniki Stadium'}","{'name': 'Germany', 'code': 'GER'}","{'name': 'Mexico', 'code': 'MEX'}",18:00,UTC+3
11,Nizhny Novgorod,2018-06-18,"[{'name': 'Granqvist', 'minute': 65, 'score1':...",[],Group F,NaN,12,1.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,"{'key': 'nizhnynovgorod', 'name': 'Nizhny Novg...","{'name': 'Sweden', 'code': 'SWE'}","{'name': 'South Korea', 'code': 'KOR'}",15:00,UTC+3
12,Sochi,2018-06-18,"[{'name': 'Mertens', 'minute': 47, 'score1': 1...",[],Group G,NaN,13,3.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,"{'key': 'fisht', 'name': 'Fisht Stadium'}","{'name': 'Belgium', 'code': 'BEL'}","{'name': 'Panama', 'code': 'PAN'}",18:00,UTC+3
13,Volgograd,2018-06-18,"[{'name': 'Sassi', 'minute': 35, 'score1': 1, ...","[{'name': 'Kane', 'minute': 11, 'score1': 0, '...",Group G,NaN,14,1.0,NaN,1.0,NaN,2.0,NaN,1.0,NaN,"{'key': 'volgograd', 'name': 'Volgograd Arena'}","{'name': 'Tunisia', 'code': 'TUN'}","{'name': 'England', 'code': 'ENG'}",21:00,UTC+3
14,Moscow,2018-06-19,"[{'name': 'Krychowiak', 'minute': 86, 'score1'...","[{'name': 'Cionek', 'minute': 37, 'score1': 0,...",Group H,NaN,15,1.0,NaN,0.0,NaN,2.0,NaN,1.0,NaN,"{'key': 'spartak', 'name': 'Spartak Stadium'}","{'name': 'Poland', 'code': 'POL'}","{'name': 'Senegal', 'code': 'SEN'}",18:00,UTC+3
15,Saransk,2018-06-19,"[{'name': 'J. Quintero', 'minute': 39, 'score1...","[{'name': 'Kagawa', 'minute': 6, 'score1': 0, ...",Group H,NaN,16,1.0,NaN,1.0,NaN,2.0,NaN,1.0,NaN,"{'key': 'mordovia', 'name': 'Mordovia Arena'}","{'name': 'Colombia', 'code': 'COL'}","{'name': 'Japan', 'code': 'JPN'}",15:00,UTC+3
16,Saint Petersburg,2018-06-19,"[{'name': 'A. Fathi', 'minute': 47, 'score1': ...","[{'name': 'M. Salah', 'minute': 73, 'score1': ...",Group A,NaN,17,3.0,NaN,0.0,NaN,1.0,NaN,0.0,NaN,"{'key': 'saintpetersburg', 'name': 'Saint Pete...","{'name': 'Russia', 'code': 'RUS'}","{'name': 'Egypt', 'code': 'EGY'}",21:00,UTC+3
17,Rostov-on-Don,2018-06-20,"[{'name': 'L. Suárez', 'minute': 23, 'score1':...",[],Group A,NaN,18,1.0,NaN,1.0,NaN,0.0,NaN,0.0,NaN,"{'key': 'rostov', 'name': 'Rostov Arena'}","{'name': 'Uruguay', 'code': 'URU'}","{'name': 'Saudi Arabia', 'code': 'KSA'}",18:00,UTC+3
18,Moscow,2018-06-20,"[{'name': 'Ronaldo', 'minute': 4, 'score1': 1,...",[],Group B,NaN,19,1.0,NaN,1.0,NaN,0.0,NaN,0.0,NaN,"{'key': 'luzhniki', 'name': 'Luzhniki Stadium'}","{'name': 'Portugal', 'code': 'POR'}","{'name': 'Morocco', 'code': 'MAR'}",15:00,UTC+3
19,Kazan,2018-06-20,[],"[{'name': 'Diego Costa', 'minute': 54, 'score1...",Group B,NaN,20,0.0,NaN,0.0,NaN,1.0,NaN,0.0,NaN,"{'key': 'kazan', 'name': 'Kazan Arena'}","{'name': 'Iran', 'code': 'IRN'}","{'name': 'Spain', 'code': 'ESP'}",21:00,UTC+3
20,Ekaterinburg,2018-06-21,"[{'name': 'Mbappé', 'minute': 34, 'score1': 1,...",[],Group C,NaN,21,1.0,NaN,1.0,NaN,0.0,NaN,0.0,NaN,"{'key': 'ekaterinburg', 'name': 'Ekaterinburg ...","{'name': 'France', 'code': 'FRA'}","{'name': 'Peru', 'code': 'PER'}",20:00,UTC+5
21,Samara,2018-06-21,"[{'name': 'Eriksen', 'minute': 7, 'score1': 1,...","[{'name': 'Jedinak', 'minute': 38, 'score1': 1...",Group C,NaN,22,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,"{'key': 'samara', 'name': 'Samara Arena'}","{'name': 'Denmark', 'code': 'DEN'}","{'name': 'Australia', 'code': 'AUS'}",16:00,UTC+4
22,Nizhny Novgorod,2018-06-21,[],"[{'name': 'Rebić', 'minute': 53, 'score1': 0, ...",Group D,NaN,23,0.0,NaN,0.0,NaN,3.0,NaN,0.0,NaN,"{'key': 'nizhnynovgorod', 'name': 'Nizhny Novg...","{'name': 'Argentina', 'code': 'ARG'}","{'name': 'Croatia', 'code': 'CRO'}",21:00,UTC+3
23,Volgograd,2018-06-22,"[{'name': 'Musa', 'minute': 49, 'score1': 1, '...",[],Group D,NaN,24,2.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,"{'key': 'volgograd', 'name': 'Volgograd Arena'}","{'name': 'Nigeria', 'code': 'NGA'}","{'name': 'Iceland', 'code': 'ISL'}",18:00,UTC+3
24,Saint Petersburg,2018-06-22,NaN,NaN,Group E,NaN,25,2.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,"{'key': 'saintpetersburg', 'name': 'Saint Pete...","{'name': 'Brazil', 'code': 'BRA'}","{'name': 'Costa Rica', 'code': 'CRC'}",15:00,UTC+3
25,Kaliningrad,2018-06-22,"[{'name': 'Mitrović', 'minute': 5, 'score1': 1...","[{'name': 'Xhaka', 'minute': 52, 'score1': 1, ...",Group E,NaN,26,1.0,NaN,1.0,NaN,2.0,NaN,0.0,NaN,"{'key': 'kaliningrad', 'name': 'Kaliningrad St...","{'name': 'Serbia', 'code': 'SRB'}","{'name': 'Switzerland', 'code': 'SUI'}",20:00,UTC+2
26,Sochi,2018-06-23,"[{'name': 'Reus', 'minute': 48, 'score1': 1, '...","[{'name': 'Toivonen', 'minute': 32, 'score1': ...",Group F,NaN,27,2.0,NaN,0.0,NaN,1.0,NaN,1.0,NaN,"{'key': 'fisht', 'name': 'Fisht Stadium'}","{'name': 'Germany', 'code': 'GER'}","{'name': 'Sweden', 'code': 'SWE'}",21:00,UTC+3
27,Rostov-on-Don,2018-06-23,"[{'name': 'Son Heung-min', 'minute': 90, 'offs...","[{'name': 'Carlos V.', 'minute': 26, 'score1':...",Group F,NaN,28,1.0,NaN,0.0,NaN,2.0,NaN,1.0,NaN,"{'key': 'rostov', 'name': 'Rostov Arena'}","{'name': 'South Korea', 'code': 'KOR'}","{'name': 'Mexico', 'code': 'MEX'}",18:00,UTC+3
28,Moscow,2018-06-23,"[{'name': 'E. Hazard', 'minute': 6, 'score1': ...","[{'name': 'Bronn', 'minute': 18, 'score1': 2, ...",Group G,NaN,29,5.0,NaN,3.0,NaN,2.0,NaN,1.0,NaN,"{'key': 'spartak', 'name': 'Spartak Stadium'}","{'name': 'Belgium', 'code': 'BEL'}","{'name': 'Tunisia', 'code': 'TUN'}",15:00,UTC+3
29,Nizhny Novgorod,2018-06-24,"[{'name': 'Stones', 'minute': 8, 'score1': 1, ...","[{'name': 'Baloy', 'minute': 78, 'score1': 6, ...",Group G,NaN,30,6.0,NaN,5.0,NaN,1.0,NaN,0.0,NaN,"{'key': 'nizhnynovgorod', 'name': 'Nizhny Novg...","{'name': 'England', 'code': 'ENG'}","{'name': 'Panama', 'code': 'PAN'}",15:00,UTC+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,Saransk,2018-06-25,"[{'name': 'Karim Ansarifard', 'minute': 90, 'o...","[{'name': 'Quaresma', 'minute': 45, 'score1': ...",Group B,NaN,35,1.0,NaN,0.0,NaN,1.0,NaN,1.0,NaN,"{'key': 'mordovia', 'name': 'Mordovia Arena'}","{'name': 'Iran', 'code': 'IRN'}","{'name': 'Portugal', 'code': 'POR'}",21:00,UTC+3
35,Kaliningrad,2018-06-25,"[{'name': 'Isco', 'minute': 19, 'score1': 1, '...","[{'name': 'Boutaib', 'minute': 14, 'score1': 0...",Group B,NaN,36,2.0,NaN,1.0,NaN,2.0,NaN,1.0,NaN,"{'key': 'kaliningrad', 'name': 'Kaliningrad St...","{'name': 'Spain', 'code': 'ESP'}","{'name': 'Morocco', 'code': 'MAR'}",20:00,UTC+2
36,Moscow,2018-06-26,NaN,NaN,Group C,NaN,37,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,"{'key': 'luzhniki', 'name': 'Luzhniki Stadium'}","{'name': 'Denmark', 'code': 'DEN'}","{'name': 'France', 'code': 'FRA'}",17:00,UTC+3
37,Sochi,2018-06-26,[],"[{'name': 'Carrillo', 'minute': 18, 'score1': ...",Group C,NaN,38,0.0,NaN,0.0,NaN,2.0,NaN,1.0,NaN,"{'key': 'fisht', 'name': 'Fisht Stadium'}","{'name': 'Australia', 'code': 'AUS'}","{'name': 'Peru', 'code': 'PER'}",17:00,UTC+3
38,Saint Petersburg,2018-06-26,"[{'name': 'Moses', 'minute': 51, 'score1': 1, ...","[{'name': 'Messi', 'minute': 14, 'score1': 0, ...",Group D,NaN,39,1.0,NaN,0.0,NaN,2.0,NaN,1.0,NaN,"{'key': 'saintpetersburg', 'name': 'Saint Pete...","{'name': 'Nigeria', 'code': 'NGA'}","{'name': 'Argentina', 'code': 'ARG'}",21:00,UTC+3
39,Rostov-on-Don,2018-06-26,"[{'name': 'G. Sigurðsson', 'minute': 76, 'scor...","[{'name': 'Badelj', 'minute': 53, 'score1': 0,...",Group D,NaN,40,1.0,NaN,0.0,NaN,2.0,NaN,0.0,NaN,"{'key': 'rostov', 'name': 'Rostov Arena'}","{'name': 'Iceland', 'code': 'ISL'}","{'name': 'Croatia', 'code': 'CRO'}",21:00,UTC+3
40,Moscow,2018-06-27,[],"[{'name': 'Paulinho', 'minute': 36, 'score1': ...",Group E,NaN,41,0.0,NaN,0.0,NaN,2.0,NaN,1.0,NaN,"{'key': 'spartak', 'name': 'Spartak Stadium'}","{'name': 'Serbia', 'code': 'SRB'}","{'name': 'Brazil', 'code': 'BRA'}",21:00,UTC+3
41,Nizhny Novgorod,2018-06-27,"[{'name': 'Džemaili', 'minute': 31, 'score1': ...","[{'name': 'Waston', 'minute': 56, 'score1': 1,...",Group E,NaN,42,2.0,NaN,1.0,NaN,2.0,NaN,0.0,NaN,"{'key': 'nizhnynovgorod', 'name': 'Nizhny Novg...","{'name': 'Switzerland', 'code': 'SUI'}","{'name': 'Costa Rica', 'code': 'CRC'}",21:00,UTC+3
42,Kazan,2018-06-27,"[{'name': 'Kim Young-gwon', 'minute': 90, 'off...",[],Group F,NaN,43,2.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,"{'key': 'kazan', 'name': 'Kazan Arena'}","{'name': 'South Korea', 'code': 'KOR'}","{'name': 'Germany', 'code': 'GER'}",17:00,UTC+3
43,Ekaterinburg,2018-06-27,[],"[{'name': 'Augustinsson', 'minute': 50, 'score...",Group F,NaN,44,0.0,NaN,0.0,NaN,3.0,NaN,0.0,NaN,"{'key': 'ekaterinburg', 'name': 'Ekaterinburg ...","{'name': 'Mexico', 'code': 'MEX'}","{'name': 'Sweden', 'code': 'SWE'}",19:00,UTC+5
44,Kaliningrad,2018-06-28,[],"[{'name': 'Adnan Januzaj', 'minute': 51, 'scor...",Group G,NaN,45,0.0,NaN,0.0,NaN,1.0,NaN,0.0,NaN,"{'key': 'kaliningrad', 'name': 'Kaliningrad St...","{'name': 'England', 'code': 'ENG'}","{'name': 'Belgium', 'code': 'BEL'}",20:00,UTC+2
45,Saransk,2018-06-28,"[{'name': 'Yassine Meriah', 'minute': 33, 'sco...","[{'name': 'Fakhereedine Ben Youssef', 'minute'...",Group G,NaN,46,1.0,NaN,1.0,NaN,2.0,NaN,0.0,NaN,"{'key': 'mordovia', 'name': 'Mordovia Arena'}","{'name': 'Panama', 'code': 'PAN'}","{'name': 'Tunisia', 'code': 'TUN'}",21:00,UTC+3
46,Volgograd,2018-06-28,[],"[{'name': 'Bednarek', 'minute': 59, 'score1': ...",Group H,NaN,47,0.0,NaN,0.0,NaN,1.0,NaN,1.0,NaN,"{'key': 'volgograd', 'name': 'Volgograd Arena'}","{'name': 'Japan', 'code': 'JPN'}","{'name': 'Poland', 'code': 'POL'}",17:00,UTC+3
47,Samara,2018-06-28,[],"[{'name': 'Y. Mina', 'minute': 74, 'score1': 0...",Group H,NaN,48,0.0,NaN,0.0,NaN,1.0,NaN,1.0,NaN,"{'key': 'samara', 'name': 'Samara Arena'}","{'name': 'Senegal', 'code': 'SEN'}","{'name': 'Colombia', 'code': 'COL'}",18:00,UTC+4
48,Sochi,2018-06-30,"[{'name': 'Edinson Cavani', 'minute': 7, 'scor...","[{'name': 'Pepe', 'minute': 55, 'score1': 1, '...",NaN,True,49,2.0,NaN,1.0,NaN,1.0,NaN,0.0,NaN,"{'key': 'fisht', 'name': 'Fisht Stadium'}","{'name': 'Uruguay', 'code': 'URU'}","{'name': 'Portugal', 'code': 'POR'}",21:00,UTC+3
49,Kazan,2018-06-30,"[{'name': 'Antoine Griezmann', 'minute': 13, '...","[{'name': 'Ángel Di María', 'minute': 41, 'sco...",NaN,True,50,4.0,NaN,1.0,NaN,3.0,NaN,1.0,NaN,"{'key': 'kazan', 'name': 'Kazan Arena'}","{'name': 'France', 'code': 'FRA'}","{'name': 'Argentina', 'code': 'ARG'}",17:00,UTC+3
50,Moscow,2018-07-01,"[{'name': 'Sergei Ignashevich', 'minute': 12, ...","[{'name': 'Artem Dzyuba', 'minute': 41, 'score...",NaN,True,51,1.0,1.0,1.0,3.0,1.0,1.0,1.0,4.0,"{'key': 'luzhniki', 'name': 'Luzhniki Stadium'}","{'name': 'Spain', 'code': 'ESP'}","{'name': 'Russia', 'code': 'RUS'}",17:00,UTC+3
51,Nizhny Novgorod,2018-07-01,"[{'name': 'Mario Mandžukić', 'minute': 4, 'sco...","[{'name': 'Mathias Jørgensen', 'minute': 1, 's...",NaN,True,52,1.0,1.0,1.0,3.0,1.0,1.0,1.0,2.0,"{'key': 'nizhnynovgorod', 'name': 'Nizhny Novg...","{'name': 'Croatia', 'code': 'CRO'}","{'name': 'Denmark', 'code': 'DEN'}",21:00,UTC+3
52,Samara,2018-07-02,"[{'name': 'Neymar', 'minute': 51, 'score1': 1,...",[],NaN,True,53,2.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,"{'key': 'samara', 'name': 'Samara Arena'}","{'name': 'Brazil', 'code': 'BRA'}","{'name': 'Mexico', 'code': 'MEX'}",18:00,UTC+4
53,Rostov-on-Don,2018-07-02,"[{'name': 'Jan Vertonghen', 'minute': 69, 'sco...","[{'name': 'Genki Haraguchi', 'minute': 48, 'sc...",NaN,True,54,3.0,NaN,0.0,NaN,2.0,NaN,0.0,NaN,"{'key': 'rostov', 'name': 'Rostov Arena'}","{'name': 'Belgium', 'code': 'BEL'}","{'name': 'Japan', 'code': 'JPN'}",21:00,UTC+3
54,Saint Petersburg,2018-07-03,"[{'name': 'Emil Forsberg', 'minute': 66, 'scor...",[],NaN,True,55,1.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,"{'key': 'saintpetersburg', 'name': 'Saint Pete...","{'name': 'Sweden', 'code': 'SWE'}","{'name': 'Switzerland', 'code': 'SUI'}",17:00,UTC+3
55,Moscow,2018-07-03,"[{'name': 'Yerry Mina', 'minute': 90, 'offset'...","[{'name': 'Harry Kane', 'minute': 57, 'score1'...",NaN,True,56,1.0,1.0,0.0,3.0,1.0,1.0,0.0,4.0,"{'key': 'spartak', 'name': 'Spartak Stadium'}","{'name': 'Colombia', 'code': 'COL'}","{'name': 'England', 'code': 'ENG'}",21:00,UTC+3
56,Nizhny Novgorod,2018-07-06,[],"[{'name': 'Raphaël Varane', 'minute': 40, 'sco...",NaN,True,57,0.0,NaN,0.0,NaN,2.0,NaN,1.0,NaN,"{'key': 'nizhnynovgorod', 'name': 'Nizhny Novg...","{'name': 'Uruguay', 'code': 'URU'}","{'name': 'France', 'code': 'FRA'}",17:00,UTC+3
57,Kazan,2018-07-06,"[{'name': 'Renato Augusto', 'minute': 76, 'sco...","[{'name': 'Fernandinho', 'minute': 13, 'score1...",NaN,True,58,1.0,NaN,0.0,NaN,2.0,NaN,2.0,NaN,"{'key': 'kazan', 'name': 'Kazan Arena'}","{'name': 'Brazil', 'code': 'BRA'}","{'name': 'Belgium', 'code': 'BEL'}",21:00,UTC+3
58,Sochi,2018-07-07,"[{'name': 'Denis Cheryshev', 'minute': 31, 'sc...","[{'name': 'Andrej Kramarić', 'minute': 39, 'sc...",NaN,True,59,1.0,2.0,1.0,3.0,1.0,2.0,1.0,4.0,"{'key': 'fisht', 'name': 'Fisht Stadium'}","{'name': 'Russia', 'code': 'RUS'}","{'name': 'Croatia', 'code': 'CRO'}",21:00,UTC+3
59,Samara,2018-07-07,[],"[{'name': 'Harry Maguire', 'minute': 30, 'scor...",NaN,True,60,0.0,NaN,0.0,NaN,2.0,NaN,1.0,NaN,"{'key': 'samara', 'name': 'Samara Arena'}","{'name': 'Sweden', 'code': 'SWE'}","{'name': 'England', 'code': 'ENG'}",18:00,UTC+4
60,Saint Petersburg,2018-07-10,"[{'name': 'Samuel Umtiti', 'minute': 51, 'scor...",[],NaN,True,61,1.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,"{'key': 'saintpetersburg', 'name': 'Saint Pete...","{'name': 'France', 'code': 'FRA'}","{'name': 'Belgium', 'code': 'BEL'}",21:00,UTC+3
61,Moscow,2018-07-11,"[{'name': 'Ivan Perišić', 'minute': 68, 'score...","[{'name': 'Kieran Trippier', 'minute': 5, 'sco...",NaN,True,62,1.0,2.0,0.0,NaN,1.0,1.0,1.0,NaN,"{'key': 'luzhniki', 'name': 'Luzhniki Stadium'}","{'name': 'Croatia', 'code': 'CRO'}","{'name': 'England', 'code': 'ENG'}",21:00,UTC+3
62,Saint Petersburg,2018-07-14,NaN,NaN,NaN,True,63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'key': 'saintpetersburg', 'name': 'Saint Pete...","{'name': 'Belgium', 'code': 'BEL'}","{'name': 'England', 'code': 'ENG'}",17:00,UTC+3
63,Moscow,2018-07-15,NaN,NaN,NaN,True,64,18.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,"{'key': 'luzhniki', 'name': 'Luzhniki Stadium'}","{'name': 'France', 'code': 'FRA'}","{'name': 'Croatia', 'code': 'CRO'}",12:00,UTC+3

In [108]:
games_df[games_df['goals1'].isnull() == True]

,city,date,goals1,goals2,group,knockout,num,score1,score1et,score1i,score1p,score2,score2et,score2i,score2p,stadium,team1,team2,time,timezone
24,Saint Petersburg,2018-06-22,NaN,NaN,Group E,NaN,25,2.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,"{'key': 'saintpetersburg', 'name': 'Saint Pete...","{'name': 'Brazil', 'code': 'BRA'}","{'name': 'Costa Rica', 'code': 'CRC'}",15:00,UTC+3
36,Moscow,2018-06-26,NaN,NaN,Group C,NaN,37,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,"{'key': 'luzhniki', 'name': 'Luzhniki Stadium'}","{'name': 'Denmark', 'code': 'DEN'}","{'name': 'France', 'code': 'FRA'}",17:00,UTC+3
62,Saint Petersburg,2018-07-14,NaN,NaN,NaN,True,63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'key': 'saintpetersburg', 'name': 'Saint Pete...","{'name': 'Belgium', 'code': 'BEL'}","{'name': 'England', 'code': 'ENG'}",17:00,UTC+3
63,Moscow,2018-07-15,NaN,NaN,NaN,True,64,18.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,"{'key': 'luzhniki', 'name': 'Luzhniki Stadium'}","{'name': 'France', 'code': 'FRA'}","{'name': 'Croatia', 'code': 'CRO'}",12:00,UTC+3

In [66]:
print(games_df['goals1'][0])

## minute
print('minute:',games_df['goals1'][0][0]['minute'])

## goalscorer
print('scorer:',games_df['goals1'][0][0]['name'])

##

[{'name': 'Gazinsky', 'minute': 12, 'score1': 1, 'score2': 0}, {'name': 'Cheryshev', 'minute': 43, 'score1': 2, 'score2': 0}, {'name': 'Dzyuba', 'minute': 71, 'score1': 3, 'score2': 0}, {'name': 'Cheryshev', 'minute': 90, 'offset': 1, 'score1': 4, 'score2': 0}, {'name': 'Golovin', 'minute': 90, 'offset': 4, 'score1': 5, 'score2': 0}]
minute: 12
scorer: Gazinsky

for each game:

In creating the data frame for goals, relevant features have to be identified:
- minute of game
- 1st half
- 2nd half
- et1
- et2
- goalscorer
- country
- opponent
- 1st half added time
- 2nd half added time
- one hot encoding for losing/drawing/winning position
- knockout game?
- date
- stadium
- penalty?

In [136]:
goal_features = ['minute','period_scored','scorer','scorer_team','opp_team','1H_added','2H_added','penalty',
           'game_status','knockout','date','stadium']

In [137]:
def time_period(minute):
    if minute <= 45:
        return '1H'
    elif minute > 45 & minute <= 90:
        return '2H'
    elif minute > 90 & minute <= 105:
        return 'et1'
    elif minute > 105:
        return 'et2'

In [138]:
def key_check(key, obj):
    if key in obj.keys():
        return True
    else:
        return False

In [155]:
def match_status1(goal):
    if goal['score1'] - 1 < goal['score2']:
        return 'losing'
    elif goal['score1'] - 1 == goal['score2']:
        return 'drawing'
    elif goal['score1'] - 1 > goal['score2']:
        return 'winning'
    
def match_status2(goal):
    if goal['score2'] - 1 < goal['score1']:
        return 'losing'
    elif goal['score2'] - 1 == goal['score1']:
        return 'drawing'
    elif goal['score2'] - 1 > goal['score1']:
        return 'winning'

In [156]:
all_goals = []

for index, match in games_df.iterrows():
    for goal in match['goals1']:
        goal_obj = dict.fromkeys(goal_features)
        goal_obj['minute'] = goal['minute']
        goal_obj['time_period'] = time_period(goal['minute'])
        goal_obj['scorer'] = goal['name']
        goal_obj['scorer_team'] = match['team1']['name']
        goal_obj['opp_team'] = match['team2']['name']
        if key_check('offset', goal) & (goal_obj['time_period'] == '1H'):
            goal_obj['1H_added'] = goal['offset']
            goal_obj['2H_added'] = 0
        elif key_check('offset', goal) & (goal_obj['time_period'] == '2H'):
            goal_obj['1H_added'] = 0
            goal_obj['2H_added'] = goal['offset']
        else:
            goal_obj['1H_added'] = 0
            goal_obj['2H_added'] = 0
        if key_check('penalty',goal):
            goal_obj['penalty'] = 1
        else:
            goal_obj['penalty'] = 0
        goal_obj['game_status'] = match_status1(goal)
        if match['knockout'] == True:
            goal_obj['knockout'] = 1
        else:
            goal_obj['knockout'] = 0
        goal_obj['date'] = match['date']
        goal_obj['stadium'] = match['stadium']['name']
        all_goals.append(goal_obj)
        
## for opposing team
    for goal in match['goals2']:
        goal_obj = dict.fromkeys(goal_features)
        goal_obj['minute'] = goal['minute']
        goal_obj['time_period'] = time_period(goal['minute'])
        goal_obj['scorer'] = goal['name']
        goal_obj['scorer_team'] = match['team2']['name']
        goal_obj['opp_team'] = match['team1']['name']
        if key_check('offset', goal) & (goal_obj['time_period'] == '1H'):
            goal_obj['1H_added'] = goal['offset']
            goal_obj['2H_added'] = 0
        elif key_check('offset', goal) & (goal_obj['time_period'] == '2H'):
            goal_obj['1H_added'] = 0
            goal_obj['2H_added'] = goal['offset']
        else:
            goal_obj['1H_added'] = 0
            goal_obj['2H_added'] = 0
        if key_check('penalty',goal):
            goal_obj['penalty'] = 1
        else:
            goal_obj['penalty'] = 0
        goal_obj['game_status'] = match_status2(goal)
        if match['knockout'] == True:
            goal_obj['knockout'] = 1
        else:
            goal_obj['knockout'] = 0
        goal_obj['date'] = match['date']
        goal_obj['stadium'] = match['stadium']['name']
        all_goals.append(goal_obj)  

print(all_goals)

TypeError: 'float' object is not iterable